.logo {
    color: #69ABAD!;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.logoimg {
    width: 100%;
}

.fa-facebook-square{
    color: cornflowerblue;
}