body {
    background-color: #2C3536;
}

h1 {
    text-align: center;
    color: #69ABAD;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h4 {
    text-align: center;
    color: #69ABAD;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
    list-style: circle;
}
